
<div ng-repeat="(key, value) in config.configs">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <a class="btn btn-primary"><span class="glyphicon glyphicon-off"></span></a>
            </div>
            <h3 class="panel-title">{{key}}</h3>
            <div class="clearfix"></div>
        </div>
        <table class="table .table-condensed">
            <tr ng-repeat="(key, value) in value">
              <td> {{key}} </td> <td> {{ value }} </td>
            </tr>
        </table>
    </div>

</div>

